.border-red{
  border-style: solid;
  border-width: 10px;
  border-image: url(red.png) 10 repeat;
}

.border-pink{
  border-style: solid;
  border-width: 10px;
  border-image: url(pink.png) 10 repeat;
}

.border-purple{
  border-style: solid;
  border-width: 10px;
  border-image: url(purple.png) 10 repeat;
}

.border-deeppurple{
  border-style: solid;
  border-width: 10px;
  border-image: url(deeppurple.png) 10 repeat;
}

.border-indigo{
  border-style: solid;
  border-width: 10px;
  border-image: url(indigo.png) 10 repeat;
}

.border-blue{
  border-style: solid;
  border-width: 10px;
  border-image: url(blue.png) 10 repeat;
}

.border-lightblue{
  border-style: solid;
  border-width: 10px;
  border-image: url(lightblue.png) 10 repeat;
}

.border-cyan{
  border-style: solid;
  border-width: 10px;
  border-image: url(cyan.png) 10 repeat;
}

.border-teal{
  border-style: solid;
  border-width: 10px;
  border-image: url(teal.png) 10 repeat;
}

.border-green{
  border-style: solid;
  border-width: 10px;
  border-image: url(green.png) 10 repeat;
}

.border-lightgreen{
  border-style: solid;
  border-width: 10px;
  border-image: url(lightgreen.png) 10 repeat;
}

.border-lime{
  border-style: solid;
  border-width: 10px;
  border-image: url(lime.png) 10 repeat;
}

.border-yellow{
  border-style: solid;
  border-width: 10px;
  border-image: url(yellow.png) 10 repeat;
}

.border-amber{
  border-style: solid;
  border-width: 10px;
  border-image: url(amber.png) 10 repeat;
}

.border-orange{
  border-style: solid;
  border-width: 10px;
  border-image: url(orange.png) 10 repeat;
}

.border-deeporange{
  border-style: solid;
  border-width: 10px;
  border-image: url(deeporange.png) 10 repeat;
}

.border-brown{
  border-style: solid;
  border-width: 10px;
  border-image: url(brown.png) 10 repeat;
}

.border-grey{
  border-style: solid;
  border-width: 10px;
  border-image: url(grey.png) 10 repeat;
}

.border-bluegrey{
  border-style: solid;
  border-width: 10px;
  border-image: url(bluegrey.png) 10 repeat;
}

.border-black{
  border-style: solid;
  border-width: 10px;
  border-image: url(black.png) 10 repeat;
}
